@font-face {
  font-family: "Gilroy Light";
  src: local("Gilroy Light"),
    url(../fonts/gilroylight.woff2) format("woff2"),
    url(../fonts/gilroylight.woff) format("woff"),
    url(../fonts/gilroylight.ttf) format("truetype");

}

@font-face {
  font-family: "Gilroy ExtraBold";
  src: local("Gilroy ExtraBold"),
    url(../fonts/gilroyextrabold.woff2) format("woff2"),
    url(../fonts/gilroyextrabold.woff) format("woff"),
    url(../fonts/gilroyextrabold.ttf) format("truetype");

}

@font-face {
  font-family: "Open Sans Light";
  src: local("Open Sans Light"),
    url(../fonts/opensanslight.woff2) format("woff2"),
    url(../fonts/opensanslight.woff) format("woff"),
    url(../fonts/opensanslight.ttf) format("truetype");

}

@font-face {
  font-family: "Open Sans";
  src: local("Open Sans"),
    url(../fonts/opensans.woff2) format("woff2"),
    url(../fonts/opensans.woff) format("woff"),
    url(../fonts/opensans.ttf) format("truetype");

}

body {
  margin: 0 auto;
  padding: 0;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  /* letter-spacing: 0.15px; */

  color: #464646;

  background-color: #ffffff;


}

a {
  text-decoration: none;
  color: #000000;

}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;

}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* выше вариант из лекции .visually-hidden */
.button {
  border: none;
}

.main-header {

  position: relative;
  margin: 0 auto;
  margin-top: 40px;
  background-color: #f7e296;
  width: 1160px;
  padding: 0 60px 165px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 299px;
}


.main-logo {
  position: absolute;
  left: 60px;
  top: -17px;
}

.main-logo:hover {
  opacity: 0.6;
}

.main-logo:focus,
.main-logo:active {
  opacity: 0.3;
}

.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 0;
  padding-top: 42px;
  padding-bottom: 0px;
  padding-left: 0;
  min-height: 20px;
}

.site-navigation-user {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: #000000;
  padding-left: 29px;
}

.site-navigation-user a:hover {
  opacity: .6;
}

.site-navigation-user a:focus {
  opacity: .3;
}


.site-navigation-user .search {
  background: transparent;
  border: none;
}


.site-navigation-user .search:focus,
.site-navigation-user .search:active {
  color: #000000;
}

.main-search,
.login-link-header,
.compare-header,
.basket-header {
  position: relative;
}

.main-search {
  padding-right: 147px;
}

.search-link-icon {
  position: absolute;
  top: 8px;
  left: -30px;
}

.search {
  padding-left: 6px;
  width: 356px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.3);

}

.main-search input[type="search"]::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-search input[type="search"]:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-search input[type="search"]::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-search input[type="search"]::placeholder {
  color: rgba(0, 0, 0, 0.3);
}

.main-search input[type="search"]:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-search input[type="search"]:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-search input[type="search"]:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-search input[type="search"]:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.main-search input[type="search"]:focus::-webkit-input-placeholder,
.main-search input[type="search"]:active::-webkit-input-placeholder {
  color: #000000;
}

.main-search input[type="search"]:focus:-ms-input-placeholder,
.main-search input[type="search"]:active:-ms-input-placeholder {
  color: #000000;
}

.main-search input[type="search"]:focus::-ms-input-placeholder,
.main-search input[type="search"]:active::-ms-input-placeholder {
  color: #000000;
}

.main-search input[type="search"]:focus::placeholder,
.main-search input[type="search"]:active::placeholder {
  color: #000000;
}


.site-navigation-user input:focus,
.site-navigation-user input:active {
  border: none;
  border-bottom: 2px solid #000000;
}

.site-navigation-user input:focus+.button-search,
.site-navigation-user input:active+.button-search {
  display: block;
}

.button-search {
  display: none;
  position: absolute;
  top: -14px;
  left: 355px;
  width: 85px;
  height: 48px;
  border: 2px solid #000000;
  background: transparent;

  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #000000;

}

.button-search:hover {
  background-color: #000000;
  color: #ffffff;
}

.button-search:focus,
.button-search:active {
  background-color: #000000;
  color: rgba(255, 255, 255, 0.3);
}


.login-link-header {
  padding-right: 212px;
}

.login-link-icon {
  position: absolute;
  top: 10px;
  left: 8px;
}

.compare-header {
  padding-right: 40px;
}


.site-navigation-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 38px;
}

.site-navigation-bottom a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.site-navigation-bottom a:focus {
  color: rgba(0, 0, 0, 0.3);
}

.main-menu-item::after {
  display: block;
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  left: 290px;
  top: 118px;
  opacity: 0.3;
}

.nav-item-bold {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  list-style-type: none;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
}

.nav-item-bold:first-child {
  margin-right: 285px;
}

.nav-item-bold:last-child {
  margin-left: 75px;
}

/* главная выпадающее меню */
.drop-menue {
  position: absolute;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0;
  padding-top: 20px;
  padding-left: 0;
  padding-bottom: 17px;
  list-style-type: none;
  background-color: #f7e296;
  z-index: 5;
  width: 1100px;
  height: 161px;
}

.main-menu-item:hover .drop-menue {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.drop-menue-inner {
  width: 220px;
  margin-right: 20px;
}

.drop-user-navigation {
  padding-left: 0;
}

.drop-inner-item {
  list-style-type: none;
  line-height: 36px;
  letter-spacing: 0.15px;
  font-size: 15px;
  font-family: "Open Sans Light", Arial, sans-serif;
  text-transform: none;
  color: #000000;

}

/* Главная Слайдер */
.slider {
  position: relative;
}

.slider-controls {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 91px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  right: 86px;
  top: 345px;
}


.slider-controls label{
  /* display: inline-block; */
  width: 12px;
  height: 12px;
  margin-left: 14px;
  vertical-align: top;
  background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.slider-controls .active:before{
content:"";
position: absolute;
top:4px;
left:17px;
width: 5px;
  height: 5px;
   background-color: #ffffff;
  border: 1px solid #000000;
  border-radius: 50%;
}


.slider-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 80px;
  padding-right: 60px;
  height: 501px;
}

.slider-list {
  margin: 0;
  margin-top: -126px;
  padding: 0;
  list-style: none;
}

.slider-list2,
.slider-list3 {
  display: none;
}

.slider-picture {
  margin-top: 12px;
  margin-left: 6px;
}

.slide-content {
  position: relative;
  margin-left: 125px;
  margin-top: 95px;
}

.tagline {
  position: relative;
  margin: 0;
   text-align: left;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 47px;
  line-height: 56px;
  letter-spacing: 0.75px;
  color: #000000;
}

.slide-content::before {
  position: absolute;
  display: block;
  content: '';
  width: 100px;
  height: 7px;
  left: 1px;
  top: -40px;
  background-color: #ffffff;
}

.slide-content::after {
  position: absolute;
  content: '01';
  right: -35px;
  top: -90px;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 179px;
  line-height: 179px;
  letter-spacing: 1.79px;
  color: #ffffff;
}

.slider-text {
  width: 479px;
  height: 46px;
  text-align: left;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
  letter-spacing: 0.15px;
  color: #464646;
}

.crossed-out-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  text-align: center;
  line-height: 24px;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  z-index: 1;

}

.crossed-out-buttons::before {
  position: absolute;
  display: block;
  content: '';
  width: 100%;
  height: 8px;
  background-color: #f0c52e;
  top: 8px;
  z-index: -1;

}

.crossed-out-buttons:hover::before,
.crossed-out-buttons:focus::before {
  height: 40px;
  top: -9px;
}

.crossed-out-buttons:active {
  color: rgba(0, 0, 0, 0.3);
}

.crossed-out-buttons-slider {
  display: inline-block;
  margin-top: 54px;
  margin-left: 3px;
  width: 222px;
}

.product-properties {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 399px;
  min-height: 54px;
  margin-top: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.product-properties div:last-child {
  margin-left: -30px;
}

.properties {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: 115px;
  margin-right: 50px;
}

.property-mean {
  font-family: "Gilroy Light", Arial, sans-serif;
  text-align: left;
  font-size: 36px;
  line-height: 48px;
  letter-spacing: 0.36px;
  color: #000000;
  padding: 0;

  margin-bottom: 0;
}

.property {
  font-family: "Open Sans Light", Arial, sans-serif;
  text-align: left;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 0.13px;
  color: #464646;
  padding: 0;
  margin-top: 6px;
}


/* Главная Галерея */
.gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.gallery-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  padding: 0;
  margin-top: 85px;

}

.gallery-item {
  margin: 20px 40px 20px 0;
}

.gallery-item a:focus img,
.gallery-item a:active img,
.gallery-item a:focus h3,
.gallery-item a:active h3 {
  opacity: 0.3;
}

.gallery-item-background {
  position: relative;
  width: 160px;
  height: 160px;
  background-color: #f7e296;

}

.gallery-item-background:hover {
  background-color: #f0c52e;

}

.gallery-picture {
  position: absolute;
  margin: 52px 32px 53px 35px;
}


.gallery-category {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  color: #000000;
  width: 160px;
  margin-top: 35px;
}

.gallery-category:focus,
.gallery-category:active {
  opacity: 0.3;
}

.monopods {
  margin: 41px 36px 2px 38px;
}

.action-camera {
  margin: 38px 40px 35px 49px;
}

.wristlet {
  margin: 50px 25px 45px 28px;
}

.watch {
  margin: 32px 49px 30px 55px;
}

.quadcopters {
  margin: 49px 15px 42px 13px;
}


/* главная Сервис */
.addservice {
  position: relative;
  background-image: linear-gradient(to bottom, #ffffff 0%, #ffffff 100px, #e5e5e5 100px, #e5e5e5 100%);
  padding-bottom: 70px;
  margin-top: 25px;
}


.addservice-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 275px;
}

.addservice-menu {
  position: absolute;
  margin-top: 90px;
  padding-left: 0px;
  left: 20px;
  width: 277px;
  list-style-type: none;
}

.addservice-menu label {
  display: block;
  width: 160px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 3.6px;
  line-height: 24px;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  color: #000000;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.addservice-menu .active-state::before {
  top: -5px;
  width: 278px;
  height: 40px;
  text-align: left;
  background-color: #000000;

}

.addservice-menu .active-state {
  color: #ffffff;
}

/* .addservice-link-1{
  display: block;
} */
.addservice-link-2 {
  display: none;
}

.addservice-link-3 {
  display: none;
}


.addservice-line {
  display: block;
  margin-right: 10px;
  width: 7px;
  height: 320px;
  background-color: #000000;
}

.addservice-information {
  padding: 5px;
  margin-left: 113px;
  width: 460px;
  margin-top: 45px;
  margin-right: 100px;
}

.about-us-contacts.addservice-inform-header {
  display: block;
  margin-left: -9px;
  letter-spacing: 0.30px;

}

.addservice-information .text {
  margin-left: -12px;
  margin-top: 30px;
  letter-spacing: 0.15px;

}

.addservice-picture {
  margin-top: 18px;
  margin-left: -10px;
}

/* главная Партнеры */

.partners-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 95px;
  margin-bottom: 110px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners-logo-item {
  opacity: 0.3;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
  margin-right: 35px;
}

.partners-logo-item:last-child {
  margin-right: 0;
}

.partners-logo-item:hover {
  -webkit-filter: none;
          filter: none;
  opacity: 1;
}


/* главная О нас и Контакты */
.wrapper-about-us-contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1160px;
  margin: 0 auto;
  margin-bottom: 90px;
}

.about-us {
  direction: column;
  width: 480px;
  margin-right: 120px;
}

.about-us-contacts {
  position: relative;
  display: block;
  font-size: 47px;
  line-height: 48px;
  letter-spacing: 0.47px;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  list-style-type: none;
  color: #000000;
  margin: 0;
  margin-top: 25px;
  margin-left: -5px;
}

.wrapper-about-us-contacts .about-us-contacts::before {
  content: '';
  position: absolute;
  display: block;
  width: 79px;
  height: 7px;
  left: 0;
  top: -51px;
  background-color: #000000;
}

.text {
  letter-spacing: normal;
  color: #000000;
}

.about-us .text {
  margin-top: 45px;
  margin-bottom: 0;
  max-width: 468px;
}

.about-us .text-about-us {
  margin-top: 27px;
  margin-left: -2px;
}

.partners {
  list-style-type: none;
  margin-top: 67px;

}

.partners-item {
  position: relative;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 16px;
  line-height: 40px;
  letter-spacing: normal;
  color: #000000;
  left: -5px;
}

.partners-item::before {
  position: absolute;
  display: block;
  content: '';
  width: 8px;
  height: 8px;
  left: -35px;
  bottom: 15px;
  border-radius: 50%;
  border: 1px solid #bebebe;
  background-color: #ffffff;
}

.about-us .crossed-out-buttons {
  margin-top: 60px;
  margin-left: 0;
  width: 260px;
}


.contacts {
  direction: column;
  width: 560px;
}

.contacts .text {
  margin-top: 45px;
  margin-bottom: 0;
  max-width: 520px;
  margin-left: -2px;
  letter-spacing: 0.15px;
  color: #464646;
}

.map {
  margin-top: 36px;
  margin-left: -2px;
}

/* map:hover{
  content:"";
  width:960px;
  height:559px;
  background-color: #91c92f;
} */
.modal-map {
  display: block;
  position: fixed;
  width: 950px;
  height: 540px;
  z-index: 50;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  /* background: #ffffff; */
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 10px 45px 10px #dadada;
          box-shadow: 0 10px 45px 10px #dadada;
  margin: 50px;
}

.modal-map iframe {
  position: relative;
  z-index: 2;

  border: none;
}

.modal-map p {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;

  margin: 0;
}

.contacts .crossed-out-buttons {
  margin-left: 0;
  width: 260px;
  margin-top: 70px;
}


/* главная футер */

.main-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #464646;
  color: #ffffff;
  height: 320px;
}

/* Футер - блок с логотипом и меню пользователя*/

.wrapper-footer-user-menu {
  margin: 0;
  margin-top: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 1160px;
  height: 65px;
}



.main-logo-footer:hover {
  opacity: 0.6;
}

.main-logo-footer:focus {
  opacity: 0.3;
}

.main-logo-footer:active {
  opacity: 0.3;
}

.site-navigation-user-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-left: 647px;
  margin-bottom: 2px;
  padding: 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.inner-page .site-navigation-user-footer {
  margin-left: 520px;
}

.site-navigation-user-footer a:hover {
  color: #ffffff;
}

.site-navigation-user-footer a:focus,
.site-navigation-user-footer a:active {
  color: rgba(255, 255, 255, 0.3);
}

.site-navigation-user-footer a:last-child {
  margin-right: 0;
}

.footer-icon {
  position: relative;
  margin: 0px 23px 5px 23px;
  padding-left: 20px;
  padding-bottom: 2px;
  color: rgba(255, 255, 255, 0.7);
  line-height: 36px;
  letter-spacing: 0.15px;
  vertical-align: bottom;
}

.inner-page .footer-icon {
  margin: 0;
  margin-left: 30px;
}

.footer-link-icon {
  position: absolute;
  left: 0;
  margin-top: 11px;
}

.footer-link-icon:hover {
  opacity: 0.6;
}

.footer-link-icon a:focus,
.footer-link-icon a:active {
  opacity: 0.3;
}

.footer-icon.username {
  margin-left: 0;
}

.go-out-footer {
  margin-left: 10px;
  padding-left: 5px;

  opacity: 0.3;
}

.footer-icon.basket-footer {
  margin-left: 45px;
}

/* Футер - блок с доп.услугами, адрес, телефон */


.wrapper-footer-service {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 5px;
  width: 1160px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-footer-service ul {
  margin: 0px;
  padding: 0;
  list-style: none;
}

.address {
  letter-spacing: none;
  position: relative;
}

.address::after {
  position: absolute;
  display: block;
  content: '';
  width: 80px;
  height: 7px;
  left: 0;
  top: 106px;
  background-color: #ffc600;
}

.site-navigation-bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style-type: none;
}

.site-navigation-bottom-footer a:hover {
  color: rgba(255, 255, 255, 0.6);
}

.site-navigation-bottom-footer a:focus {
  color: rgba(255, 255, 255, 0.3);
}

.item-social {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  list-style-type: none;
  line-height: 24px;
  letter-spacing: 3.6px;
  color: #000000;
  text-transform: uppercase;
  margin: 0px 30px 0px 0px;
}

.footer-service-link {
  color: #ffffff;
}

.phone {
  letter-spacing: none;
  letter-spacing: 1px;
}

/* Футер-блок c соц.сетями */


.wrapper-footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 62px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: right;
  width: 1160px;
}

.footer-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 474px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 160px;
}

.footer-social a:hover {
  opacity: 0.6;
}

.footer-social a:focus,
.footer-social a:active {
  opacity: 0.1;
}

.social-button {
  color: #ffffff;
  opacity: 0.3;
  margin: 0px 25px 0px 0px;
}


.social-button-fb {
  margin-left: 31px;
}


.akadem-logo-footer:hover {
  opacity: 0.6;
}

.akadem-logo-footer:focus,
.akadem-logo-footer:active {
  opacity: 0.3;
}



/* Главная Форма Напишите нам */
/* .modal {
  display: none;
} */

.modal-mail {
  display: block;
  position: fixed;
  width: 960px;
  height: 553px;
  z-index: 100;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  left: 50%;
  background: #ffffff;
  border: 1px solid #ffffff;
  -webkit-box-shadow: 0 10px 45px 10px #dadada;
          box-shadow: 0 10px 45px 10px #dadada;
  margin: 50px;
}

.form-fields {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 90px 100px 80px 100px;
}

.form-close {
  position: absolute;
  right: 20px;
  top: 20px;
  opacity: 0.5;
}

.form-close:hover {
  opacity: 1;
}

.form-close:focus,
.form-close:active {
  opacity: 0.3;

}

.form-item {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  list-style-type: none;
  line-height: 24px;
  letter-spacing: normal;
  color: #000000;
  width: 360px;
  margin: 0;
  margin-bottom: 35px;
}

.form-item label {
  display: block;
  margin-bottom: 10px;
}

.form-item input,
.form-item textarea {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 360px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 17px;
}

.form-item textarea {
  width: 760px;
  height: 156px;
}

.form-item input[type="text"]::-webkit-input-placeholder,
.form-item input[type="email"]::-webkit-input-placeholder,
.form-item textarea::-webkit-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.form-item input[type="text"]:-ms-input-placeholder,
.form-item input[type="email"]:-ms-input-placeholder,
.form-item textarea:-ms-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.form-item input[type="text"]::-ms-input-placeholder,
.form-item input[type="email"]::-ms-input-placeholder,
.form-item textarea::-ms-input-placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.form-item input[type="text"]::placeholder,
.form-item input[type="email"]::placeholder,
.form-item textarea::placeholder {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);
}

.form-item input[type="email"]::invalid {
  background-color: #f6dada;
}

.form-fields .form-text {
  width: 760px;
  margin-bottom: 50px;
}

.inner-form {
  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  list-style: none;
  list-style-type: none;
  line-height: 18px;
  background-color: #f2f2f2;
  color: #464646;
  border: none;
}

.inner-form:hover {
  background-color: #eaeaea;
}

.inner-form:focus,
.inner-form:active {
  background-color: #ffffff;
  color: #464646;
  border: none;
  border: 3px solid #f0c52e;
}

.form-button {
  display: block;
  margin: 0;
  padding: 0;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 200px;
  border: none;
  background-color: transparent;
}

.modal-show {
  display: block;
  -webkit-animation: bounce 0.6s;
          animation: bounce 0.6s;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: translateY(-2000px);
            transform: translateY(-2000px);
  }

  70% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }

  90% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }

  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@-webkit-keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {

  0%,
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

/* Каталог Хедер */

.inner-page .main-header {
  height: 186px;
}

.inner-page .main-search {
  padding-right: 148px;
}

.inner-page .login-link-header {
  padding-right: 0;
  max-width: 158px;
}

.inner-page .main-search,
.inner-page .login-link-header,
.inner-page .compare-header,
.inner-page .basket-header {
  height: 20px;
  margin-bottom: 45px;

}

.inner-page .go-out-header {
  opacity: 0.3;
  margin-right: 46px;
}

.inner-page .site-navigation-bottom {
  padding-top: 5px;
}

.center-wrapper {
  position: relative;
  /* это общий класс для центрирования контента по сетке */
  width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.page-title {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0 auto;
  padding-left: 60px;
  margin-top: 38px;

  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 47px;
  font-weight: 800;
  font-style: normal;
  font-stretch: normal;
  line-height: 48px;
  letter-spacing: 0.47px;
  color: #000000;
  width: 1160px;
  height: 42px;
}

.breadcrumbs {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1040px;
  height: 14px;
  padding: 0;
  padding-top: 29px;
  padding-bottom: 69px;
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs li {
  position: relative;
  margin-right: 42px;
}

.breadcrumbs li::after {
  content: "";
  position: absolute;
  top: 9px;
  right: -19px;
  width: 4px;
  height: 7px;
  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs li:last-child {
  margin-right: 0;
}

.breadcrumbs-current::after {
  display: none;
}

.breadcrumbs a {
  list-style-type: none;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.14px;
  color: rgba(0, 0, 0, 0.3);
}

.breadcrumbs a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.breadcrumbs a:focus {
  color: rgba(0, 0, 0, 0.1);
}

.sorting-block {
  position: relative;
  background-color: #eee;
  background-image: -webkit-gradient(linear, left top, right top, from(#dbdbdb), color-stop(50%, #dbdbdb), color-stop(50%, #ebebeb), to(#ebebeb));
  background-image: linear-gradient(to right, #dbdbdb 0%, #dbdbdb 50%, #ebebeb 50%, #ebebeb 100%);
}

.sorting-block .center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sorting-block h2 {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 3.5px;
  margin: 0;
  padding: 23px 178px 23px 62px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sorting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 844px;
  margin: 0;
  background-color: #ebebeb;
  height: 71px;
}


.sorting h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  color: #000;
  margin: 0 20px 0 73px;
}

.sorting-list {
  display: inline-block;
  margin: 0 0 0 31px;
  padding: 0;
  list-style-type: none;

}

.sorting-list li {
  display: inline-block;
  padding-right: 25px;
}

.sorting-list a {
  font-family: "Open Sans Regular", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #000000;
  opacity: 0.3;
}

.sorting-list a:hover {
  opacity: 0.6;
}

.sorting-list a:focus,
.sorting-list a:active {
  opacity: 1;
}


.sort-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 34px;
  margin-left: 205px;
}

.sort-buttons a {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 10px;
  height: 10px;
  border: 5px solid transparent;
  border-bottom: 10px solid #000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.sort-buttons a:last-child {
  position: relative;
  top: 3px;
  right: -2px;
  border: 5px solid transparent;
  border-top: 10px solid #000;
}

.catalog-wrapper {
  width: 100%;
  background-image: -webkit-gradient(linear, left top, right top, from(#eee), color-stop(20%, #eee), color-stop(20%, #fff), to(#fff));
  background-image: linear-gradient(to right, #eee 0%, #eee 20%, #fff 20%, #fff 100%);
}

.catalog-wrapper .center-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

/* Каталог Фильтр */

.filter {

  width: 335px;
  padding-left: 60px;
  padding-top: 69px;
  background-color: #efefef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filter ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  line-height: 18px;
}

.filter fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
  border: none;
}

.filter legend {
  list-style-type: none;
  margin-bottom: 26px;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}

/* Фильтр Цена */

.filter-cost {
  width: 200px;
  height: 140px;
  border-top: 2px solid #000000;
  padding-top: 11px;
}

.range-controls {
  position: relative;
  height: 16px;
  margin-bottom: 5px;
  padding-top: 9px;
}

.range-controls .scale {
  height: 2px;
  background: #dbdbdb;
}

.range-controls .bar {
  width: 60%;
  height: 2px;
  background: #91c92f;
}

.range-controls .toggle {
  position: absolute;
  top: -3px;
  left: -3px;
  width: 20px;
  height: 20px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #b4b4b4;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 #cfcfcf;
          box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle:focus,
.range-controls .toggle:active {
  width: 22px;
  height: 24px;
  border: 9px solid #ffffff;
}

.range-controls .toggle-max {
  left: 109px;
}

.price-controls {
  font-size: 0;
  padding-left: 0px;
}

.price-controls label,
.price-controls input {
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);
  text-align: left;
  font-family: 'Gilroy Light', Arial, sans-serif;
}

.price-controls input {
  width: 73px;
  padding: 0;
  left: 0;
  border: none;
  background: transparent;
}

.price-controls .max-price {
  width: 68px;
}

/* фильр Цвет */
.filter-color {
  max-width: 200px;
  border-top: 2px solid #000000;
  padding-top: 11px;
}


.filter-option {
  margin-bottom: 8px;
  margin-top: -8px;
  padding-left: 39px;
  list-style-type: none;
  font-size: 14px;
  line-height: 40px;
  letter-spacing: 0.14px;
  color: #000000;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filter-input-checkbox+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 5px;
  width: 28px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
}

.filter-input-checkbox:checked+label::before {
  background: url("../img/checkbox-on.svg") center no-repeat;
}

.filter-input-checkbox:checked:hover+label::before {
  opacity: 0.6;
}

.filter-input-checkbox:hover+label::before {
  opacity: 0.6;
}

.filter-input-checkbox:disabled+label::after {
  content: "";
  position: absolute;
  left: -42px;
  top: 7px;
  width: 28px;
  height: 23px;
  background-image: url("../img/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  opacity: 0.25;
}

.filter-input-checkbox:disabled+label {
  pointer-events: none;
  opacity: 0.25;
}


/*фильтр Bluetooth*/


.filter-bluetooth {
  width: 200px;
  border-top: 2px solid #000000;
  padding-top: 11px;
}




.filter-input-radio+label::before {
  content: "";
  position: absolute;
  left: -42px;
  top: 3px;
  width: 25px;
  height: 25px;
  border: 4px solid #000000;
  border-radius: 50%;
}

.filter-input-radio:hover+label::before {
  opacity: 0.6;
}

.filter-input-radio:checked+label::after {
  content: "";
  position: absolute;
  top: 11px;
  left: -34px;
  width: 8px;
  height: 8px;
  background-color: #000000;
  border-radius: 50%;
}

.filter-input-radio:checked:hover+label::after {
  opacity: 0.6;
}

.filter-button {
  border: none;
  background: transparent;
  width: 200px;
}

.filter-button:before {
  top: 9px;
}

/* Каталог */

.catalog {
  width: 846px;
  margin-bottom: 80px;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 33px;
  padding: 0;
  margin-left: 3px;
  list-style: none;
}

.catalog-item {
  position: relative;
  width: 360px;
  margin-top: 35px;
  margin-right: 40px;
  margin-left: 66px;
}

.catalog-item:nth-child(2n) {
  margin-right: 0;
  margin-left: 0;
}


.catalog-item img {
  width: 360px;
  height: 380px;
  margin: 0;
}

.catalog-item:hover .add-to-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

}

.catalog-item:hover img {
  opacity: 0.7;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

}

.catalog-item-price {
  margin-top: 24px;
  margin-bottom: 12px;
  margin-left: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}

.catalog-category {
  margin-right: 0px;
  padding-right: 0px;
  width: 271px;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0.18px;
  color: #000000;
}


.catalog-item-cost {
  width: 89px;
  margin-right: 4px;
  padding-left: 2px;
  text-align: right;
  font-family: 'Gilroy Light', Arial, sans-serif;
  font-size: 16px;
  letter-spacing: 0.16px;
}

.catalog-item.new::before {
  content: "";
  position: absolute;
  top: 28px;
  right: 26px;
  width: 60px;
  height: 61px;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}

.catalog-item.new::after {
  content: "NEW";
  position: absolute;
  top: 47px;
  right: 37px;
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.7px;
  color: rgba(0, 0, 0, 0.2);
}

.add-to-by {
  display: none;
  position: absolute;

  height: 360px;
  top: 20px;
  left: 0;
  right: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  background-color: transparent;
  outline: 1px solid pink;
}

.to-basket {
  /* margin-top:50px; */
  margin-bottom: 20px;
  width: 200px;
}

.to-compare {
  /* margin-top:130px; */
  /* margin-left:30px; */
  width: 144px;
  font-family: "Open Sans Light", Arial, sans-serif;
  font-size: 13px;
  line-height: 36px;
  letter-spacing: 0.13px;
  color: rgba(0, 0, 0, 0.5);
}

.to-compare:hover {
  color: #000000;
}

.to-compare:focus,
.to-compare:active {
  color: rgba(0, 0, 0, 0.3);
}

/* Пагинация */


.pagination-list {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  margin-top: 21px;
  margin-left: 71px;
  padding: 0;
  padding-left: 30px;
  padding-right: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 760px;
  height: 66px;
  list-style: none;
  background-color: #ebebeb;
}

.pagination-item-back {
  padding-top: 20px;
}

.pagination-item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 12px;
  padding-right: 5px;
  padding-top: 28px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 106px;
}

.pagination-item-forward {
  padding-top: 20px;
}

.pagination-item a {
  font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  letter-spacing: 3.2px;
  color: rgba(0, 0, 0, 0.3);
  text-transform: uppercase;
}

.pagination-item a:hover {
  color: rgba(0, 0, 0, 0.6);
}

.pagination-item a:focus,
.pagination-item a:active {
  color: #000000;
}

.pagination-item-current a {
  color: #000000;
}

.pagination-item-current a:hover,
.pagination-item-current a:focus,
.pagination-item-current a:active {
  color: #000000;
}

.pagination-item-forward a {
  color: #000000;
  line-height: 24px;
}

.pagination-item-forward a:hover {
  color: #000000;
}

.pagination-item-forward a:focus {
  color: rgba(0, 0, 0, 0.3)
}

.pagination-item-back a {
  color: #000000;
  line-height: 24px;
}

.pagination-item-back a:hover {
  color: #000000;
}

.pagination-item-back a:focus {
  color: rgba(0, 0, 0, 0.3);
}


/* конец */




/* body > * { background-color: rgba(255,0,0,0.5); } body > * > * { background-color: rgba(255,255,0,0.5); } body > * > * > * { background-color: rgba(0,255,0,0.5); } body > * > * > * { background-color: rgba(255,0,255,0.5); } */
