@font-face {
    font-family: "Gilroy Light";
    src: local("Gilroy Light"),
      url(../fonts/gilroylight.woff2) format("woff2"),
      url(../fonts/gilroylight.woff) format("woff"),
      url(../fonts/gilroylight.ttf) format("truetype");
  
  }
  
  @font-face {
    font-family: "Gilroy ExtraBold";
    src: local("Gilroy ExtraBold"),
      url(../fonts/gilroyextrabold.woff2) format("woff2"),
      url(../fonts/gilroyextrabold.woff) format("woff"),
      url(../fonts/gilroyextrabold.ttf) format("truetype");
  
  }
  
  @font-face {
    font-family: "Open Sans Light";
    src: local("Open Sans Light"),
      url(../fonts/opensanslight.woff2) format("woff2"),
      url(../fonts/opensanslight.woff) format("woff"),
      url(../fonts/opensanslight.ttf) format("truetype");
  
  }
  
  @font-face {
    font-family: "Open Sans";
    src: local("Open Sans"),
      url(../fonts/opensans.woff2) format("woff2"),
      url(../fonts/opensans.woff) format("woff"),
      url(../fonts/opensans.ttf) format("truetype");
  
  }
  
  body {
    margin: 0 auto;
    padding: 0;
    font-family: "Open Sans Light", Arial, sans-serif;
    font-size: 15px;
    line-height: 30px;
   /* letter-spacing: 0.15px; */
  
    color: #464646;
    background-color: #ffffff;
  
  
  }
  
  a {
    text-decoration: none;
    color: #000000;
  
  }
  html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
  
  .visually-hidden {
    position: absolute;
  
    margin: -1px;
    padding: 0;
  
    width: 1px;
    height: 1px;
    border: 0;
  
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  
  .main-header {
    /* background-color:rgba(247,226,150,0.5) */
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    background-color: #f7e296;
    width: 1160px;
    padding: 0 60px 165px;
    box-sizing: border-box;
    /* height: 299px; */
  }
  
  .main-logo {
    position: absolute;
    left: 60px;
    top: -17px;
  }
  
  .nav-item-bold {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    list-style-type: none;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;
  }
  
  .nav-item-bold:first-child {
    margin-right: 200px;
  }
  
  .nav-item-bold:last-child {
    margin-left: 40px;
  }
  
  .site-navigation {
    display: flex;
    flex-direction: row;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 0px;
    padding-left: 0;
    min-height: 20px;
  }
  .site-navigation-user {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #000000;
    padding-left: 25px;
  }
  .site-navigation-user a:hover {
    opacity: .6;
  }
  
  .site-navigation-user a:focus {
    opacity: .3;
  }
  
  .site-navigation-user a:active {
    /*при нажатии*/
  }
  
  .site-navigation-user .search {
    background: transparent;
    border: none;
  }
  
  .site-navigation-user .search:focus {
    color: #000000;
  }
  
  
  
  .login-link-header {
    width: 80px;
  }
  .login-link-icon {
    position: absolute;
    top: 9px;
    left: 0;
  }
  
  .compare-basket-header {
    width: 100px;
  }
  
  
  
  
  
  
  /* 15.02.2019 - не срабатывает селектор, как сделать чтобы срабатывал*/
  
  .site-navigation-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .site-navigation-bottom a:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .site-navigation-bottom a:focus {
    color: rgba(0, 0, 0, 0.3);
  }
  
  
  .drop-menue {
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0;
    padding-top: 20px;
    padding-left: 0;
    padding-bottom: 30px;
    list-style-type: none;
    background-color: #f7e296;
  }
  
  .drop-menue-inner {
    width: 220px;
    margin-right: 20px;
  }
  .drop-user-navigation {
    padding-left: 0;
  }
  
  .drop-inner-item {
    list-style-type: none;
    line-height: 36px;
    letter-spacing: 0.15px;
    font-size: 15px;
    font-family: "Open Sans Light", Arial, sans-serif;
    text-transform: none;
  }
  
  
  
  .about-us-contacts {
    font-size: 47px;
    line-height: 48px;
    letter-spacing: 0.47px;
  
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  
    list-style-type: none;
  
  
    color: #000000;
    /* text-transform: uppercase; */
  
  }
  
  .text {
    letter-spacing: normal;
  }
  
  
  .nav-services-item{
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    line-height: 40px;
    letter-spacing: normal;
    color: #000000;
  }
  
  
  
  
  .detail-write-send {
    text-align: center;
    line-height: 24px;
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    list-style-type: none;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;
  }
  
  .filter-button{
    
  }
  
  .main-footer {
  
  
    background-color: #464646;
    color: #ffffff;
    /* width: 100%;
        height:320px; */
  }
  
  
  .phone {
    letter-spacing: none;
  }
  
  .address {
    letter-spacing: none;
  }
  .footer-service-link {
    color: #ffffff;
  }
  .compare-basket-footer {
    line-height: 36px;
    color: rgba(255, 255, 255, 0.7);
  
  }
  
  
  .login-footer {
    color: rgba(255, 255, 255, 0.7);
    line-height: 36px;
  }
  
  .footer-social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  
  .social-button {
    color: #ffffff;
  }
  
  /* формы  */
  
  .form-item {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    list-style-type: none;
    line-height: 24px;
    letter-spacing: normal;
    color: #000000;
  
  }
  
  .inner-form {
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 14px;
    list-style-type: none;
    line-height: 18px;
    background-color: #f2f2f2;
    color: rgba(70, 70, 70, 0.4);
    border: none;
  
  }
  
  .inner-form:hover {
    background-color: #eaeaea;
  }
  
  .inner-form:focus {
    background-color: #ffffff;
    color: #464646;
    border: 3px solid #f0c52e;
  }
  
  /* каталог */
  
  .breadcrumbs {
    margin: 0 auto;
    display: flex;
  
    width: 1040px;
    height: 14px;
    padding: 0;
    padding-top: 29px;
    padding-bottom: 49px;
    /* padding-left: 60px; */
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
  
    color: rgba(0, 0, 0, 0.3);
  }
  
  .breadcrumbs a {
    list-style-type: none;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.14px;
  
    color: rgba(0, 0, 0, 0.3);
  }
  
  .breadcrumbs a:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .breadcrumbs a:focus {
    color: rgba(0, 0, 0, 0.1);
  }
  
  .sorting {
    display: flex;
    margin: 0;
    width: 100%;
    height: 71px;
    background-color: #ebebeb;
  }
  
  .catalog-columns {
    display: flex;
    justify-content: flex-start;
  }
  
  .color-bluetooth {
    /* font-family: 'Gilroy ExtraBold', Arial, sans-serif;
  font-size:18px;
  list-style-type: none;
  line-height: 24px; */
    letter-spacing: 0.18px;
  }
  
  .filters {
    width: 468px;
    height: 1287px;
    background-color: #efefef;
  }
  
  .filter-option {
    list-style-type: none;
    font-size: 14px;
    line-height: 40px;
    letter-spacing: 0.14px;
  
    color: #000000;
  }
  
  .filters fieldset {
    border: none;
  }
  
  .filter-input:disabled+label {
    color: #a6a6a6;
  }
  
  
  
  .page-title {
    display: box;
    box-sizing: border-box;
    margin: 0 auto;
    padding-left: 60px;
    margin-top: 44px;
  
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 47px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 48px;
    letter-spacing: 0.47px;
    color: #000000;
    width: 1160px;
    height: 42px;
  }
  
  .catalog {
  
    width: 760px;
    height: 1170px;
    padding-left: 70px;
  
  
  
  }
  
  .catalog-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .catalog-list a {
    display: inline-block;
  }
  
  .catalog-item:hover img {
    opacity: 0.7;
    /* background-color: #eeeeee; */
  }
  
  .catalog-item-price {
    font-family: Gilroy Light;
    font-size: 16px;
    letter-spacing: 0.16px;
  
  }
  
  .pagination-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    padding-left: 30px;
    padding-right: 30px;
    list-style: none;
    height: 70px;
    width: 699px;
    background-color: #ebebeb;
  }
  
  .pagination-item a {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 3.2px;
    color: rgba(0, 0, 0, 0.3);
  }
  
  .pagination-item a:hover {
    color: rgba(0, 0, 0, 0.6);
  }
  
  .pagination-item a:focus,
  .pagination-item a:active {
    color: #000000;
  }
  
  .pagination-item-current a {
    color: #000000;
  }
  
  .pagination-item-current a:hover,
  .pagination-item-current a:focus,
  .pagination-item-current a:active {
    color: #000000;
  }
  
  .pagination-item-forward {}
  
  .pagination-item-forward a {
    color: #000000;
    line-height: 24px;
  }
  
  .pagination-item-forward a:hover {
    color: #000000;
  }
  
  .pagination-item-forward a:focus {
    color: rgba(0, 0, 0, 0.3)
  }
  
  .pagination-item-center {
    display: flex;
    justify-content: space-between;
    width: 90px;
  
  }
  
  .pagination-item-back {}
  
  .pagination-item-back a {
    color: #000000;
    line-height: 24px;
  }
  
  .pagination-item-back a:hover {
    color: #000000;
  }
  
  .pagination-item-back a:focus {
    color: rgba(0, 0, 0, 0.3);
  }
  .site-navigation-bottom-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
  }
  .item-social {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    font-size: 18px;
    list-style-type: none;
    line-height: 24px;
    letter-spacing: 3.6px;
    color: #000000;
    text-transform: uppercase;
    margin: 0 20px;
  }
  
  .site-navigation-user-footer a:hover {
    color: #ffffff;
  }
  
  .site-navigation-user-footer a:focus {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .site-navigation-bottom-footer a:hover {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .site-navigation-bottom-footer a:focus {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .button {
    border: none;
  }
  
  .wrapper-about-us-contacts {
    display: flex;
    width: 1160px;
    margin: 0 auto;
    margin-bottom: 90px;
  }
  
  .about-us {
    direction: column;
    width: 480px;
    margin-right: 120px;
  }
  
  .contacts {
    direction: column;
  
    width: 560px;
  }
  
  .wrapper-footer {
    display: flex;
    /* margin-top:65px; */
    /* padding:60px 0; */
    /* flex-direction:row;  */
    justify-content: space-between;
    margin: 0 auto;
  
    padding: 65px 0 70px 0;
    /* list-style: none; */
    width: 1160px;
  }
  
  .wrapper-footer-address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 360px;
    margin: 0;
    /* margin-right:100px; */
  
    /* min-height:200px; */
  }
  
  .wrapper-footer-social {
    display: flex;
    flex-direction: column;
    width: 440px;
    /* min-height:200px; */
    text-align: center;
    justify-content: space-between;
  
  }
  
  .wrapper-footer-phone {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    text-align: right;
    width: 360px;
    margin: 0;
    /* margin-left:auto; */
    /* min-height:200px; */
  }
  
  
  /* body > * { background-color: rgba(255,0,0,0.5); } body > * > * { background-color: rgba(255,255,0,0.5); } body > * > * > * { background-color: rgba(0,255,0,0.5); } body > * > * > * { background-color: rgba(255,0,255,0.5); } */
  
  
  
  /*стили для внутренней от наставника */
  
  .center-wrapper {   /* это общий класс для центрирования контента по сетке */
    width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
  }
  
  .sorting-block {
    position: relative;
    background-color: #eee;
    background-image: linear-gradient(to right,#dbdbdb 0%,#dbdbdb 50%,#ebebeb 50%,#ebebeb 100%);
  }
  
  .sorting-block .center-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  
  .sorting-block h2 {
    font-family: 'Gilroy ExtraBold', Arial, sans-serif;
    text-transform: uppercase;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 3.5px;
    margin: 0;
    padding: 23px 176px 23px 68px;
    box-sizing: border-box;
  }
  
  .sorting {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 844px;
    margin: 0;
  }
  
  .sorting h3 {
    font-family: "Gilroy",Arial,sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    letter-spacing: 3.5px;
    color: #000;
    margin: 0 20px 0 73px;
  }
  
  .sorting-list {
    display: inline-block;
    margin: 0 0 0 31px;
    padding: 0;
    list-style-type: none;
  }
  
  .sorting-list li {
    display: inline-block;
    padding-right: 25px;
  }
  
  .sorting-list a {
    font-family: "Open Sans Regular",Arial,sans-serif;
    font-size: 14px;
    line-height: 18px;
    color: #000;
  }
  
  .sort-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 34px;
    margin-left: 205px;
  }
  
  .sort-buttons a {
    flex-shrink: 0;
    width: 10px;
    height: 10px;
    border: 5px solid transparent;
    border-bottom: 10px solid #000;
    box-sizing: border-box;
  }
  
  .sort-buttons a:last-child {
    position: relative;
    top: 3px;
    right: -5px;
    border: 5px solid transparent;
    border-top: 10px solid #000;
  }
  
  .catalog-wrapper {
    width: 100%;
    background-image: linear-gradient(to right,#eee 0%,#eee 20%,#fff 20%,#fff 100%);
  }
  
  .catalog-wrapper .center-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .filter {
    width: 330px;
    padding-left: 60px;
    padding-top: 69px;
    background-color: #efefef;
  }
  
  .catalog {
    width: 846px;
    padding-top: 70px;
    padding-left: 67px;
    box-sizing: border-box;
  }
  
  .catalog-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style: none;
  }
  
  .catalog-item {
    flex-wrap: nowrap;
    letter-spacing: 0.18px;
    font-size: 18px;
    margin-bottom: 40px;
    width: 360px;
  }
  